th {
    color:royalblue;
    font-family:fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#h1id:hover{
    color:cornflowerblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

p.jennaparagraph{
    color:purple;
    font-family:monospace;
    text-align:center;
}

ul.jennaul{
    color:sienna;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

ol.jennaol{
    color:tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img.gooseimage{
    display:block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:3px solid black;
}

div.divborder{
    border:1px solid black;
}