p { 
    color: green;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

p.firstp {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
font-weight: bold;

}

#hello {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

img.water{
    border-color: hotpink;
    border-style: dotted;
    border-width: thick;

}

#h2id:hover{
    color:limegreen;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;

}