
body {
  background-color: lightblue;
}
#h1ethan:hover {
  color:red;
}
p.ethanp {
  color:purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2.ethanh2 {
  color:green;
  font-weight: bold;
}
img.duck {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  border:5px black;
  border-radius: 75px;
}
.row {
  margin: 10px;
  background: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
}
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}
.breaking{    
  width:500px;
  word-wrap: break-word;
}